PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/chatify

NODE_ENV=development

JWT_SECRET=5ee469e5770735d094cc543ad83fe2f983401ec53d47a689058e10b3284bfdf6

RESEND_API_KEY=re_AUQ44cg8_Mu9BgQWCjaM29fPyEJHy1fvx
EMAIL_FROM=onboarding@recend.dev
EMAIL_FROM_NAME=Chatify

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=dxrgpag3r
CLOUDINARY_API_KEY=591439529882737
CLOUDINARY_API_SECRET=6_-Ui6bwTgdpBMg432jSEy42jg8

ARCJET_KEY=ajkey_01knkanh4qf9nr6jpaq1pdyhvh
ARCJET_ENV=development